*{
    padding:0;
    margin:0;
}

:root{
    // Will be put in variable file then imported
    
--grad-clr1:#9356DC;
--grad-clr2: #FF79DA;
--grad-clr3: #99E2D0;
}

// @media screen and (max-width :900px){

body{
    box-sizing:border-box;
    margin:0 auto;
    padding:0;
    border:1px solid black;
    display:flex;
    flex-direction: column;
    justify-content:center;
    counter-reset: func_num;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shrikhand', cursive,arial;
    font-size:22px;
    text-align: center;
    padding:12px;
    position:relative;

    &::before{
        // icon_previous 
        font-family:FontAwesome,cursive;
        content:"\f060";
        position:absolute;
        left:0;
    }
}

.presentation_img{
    height:250px;
    border:1px solid green;
    img{
        width:100%;
        height:100%;
        object-fit:cover;
    }
}

// Composing Menu with all exissting item. 
// Listing  dish entry and dessert categories
main{
    border:1px solid red;

    .menu_list{
        /*Hold the list of all existing menu item*/
        border:1px solid purple;
        padding:4px;
    }

    .menu_title{
        display:flex;
        justify-content: space-between;
        align-items: center;
        border:1px solid purple;
        padding:4px;

         .menu__like_icon{
            font-size: 24px;
            border:1px solid orange;
            padding: 11px;
         }
         .menu__name{
             border:1px solid black;
         }
    }

    /*Menu items*/
    .meal_combo{
        margin-top:10px;
        border:1px solid red;
        padding:3px;

        .confirmation{
            // hold buying button
            display:flex;
            justify-content: center;
            align-items: center;
            border:1px solid black;
            padding:4px;
            height:150px;
             .buy{
            // Buy / purshase Button
            width:50%;
            border-radius: 36px;
            background-image: linear-gradient(to bottom right, var(--grad-clr2), var(--grad-clr1));
            color: white;
            padding: 15px 25px;
            box-shadow: 1px 0.4px 3px 0px #453b3b;
            font-size:16px;
            // margin-bottom: 55px;
          }
        }

       
        }
    }
    // Sub_type Catégories (entry dish dessert)
    section{

        &.meal_category{
           
            h4{
                text-transform:uppercase ;
                font-weight: normal;
                border:1px solid red;
            }

            .meal_type{
                display:flex;
                justify-content:space-between;
                align-items:center;
                position:relative;
                border:1px solid green;
                margin-top:10px;
                padding:10px;
                text-decoration:none;
                height:50px;
                overflow:hidden;

                &_price{
                    align-self:flex-end;
                    transition:transform 400ms;
                }

                .valid_choice{
                    // display:inline-block;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    position:absolute;
                    right:-15%;
                    width:15%;
                    height:100%;
                    background-color:lightgreen;
                    transition-property:transform;
                    transition-duration:400ms;

                    .fa-check-circle{
                        transform:rotateZ(-180deg);
                        transition-property:transform;
                        transition-duration: 550ms;
                        color:white;
                        font-size:20px;
                    }

                    &:hover{
                        background-color:var(--grad-clr3);
                    }
                    
                }

                // showing validchoice button
                &:hover {
                    // Transalte price
                    .meal_type_price{
                        
                        transform:translateX(-60px);
                    }

                    .valid_choice{
                    transform:translateX(-100%);
                      .fa-check-circle{
                          transform:rotateZ(00deg) scale(1.5);
                      }
                    }
                }

            }
        }
    }
   






//Next Update
// Footer will be include by sass function or import
            /***********
             **Footer**
            ***********/
            footer{
                width:100%;
                background-color:#373737;
                padding:20px;
                color:white;
        
                h3{
                    font-family:"Shrikhand",cursive;
                    // font-family: 'Shrikhand', cursive;
                    font-size:17px;
                    font-weight:lighter;
                }
        
                ul{
                    list-style-type:none;
        
                    .has_icon::before{
                        display: inline-block;
                        width:15px;
                        // border:1px solid rgb(240, 239, 239);
                    }
        
                    .has_icon:nth-of-type(2){
                        font-weight:bold;
        
                    &::before{
                        font-family:"FontAwesome";
                     content:"";
                     margin-right:10px;
                     font-size:12px;
                     font-weight:lighter;
                    } 
                    }
                    .has_icon:first-of-type{
                        font-weight:bold;
        
                    &::before{
                        font-family:"FontAwesome";
                     content:"\f2e7";
                     margin-right:10px;
                     font-size:12px;
                     font-weight:lighter;
                    } 
                    }
                    
                }
            }
        

//  }




